/* Knowledge CSS */

.form-k {
  width: 80%;
  margin-bottom: 50px;
  background-color: white;
}

.submit-k:hover,
.download-k-yaml:hover,
.download-k-attribution:hover,
.button-active,
.button-active:hover {
  background-color: #45a049;
}

.heading-k {
  text-align: left;
  font-size: medium;
}

.button-secondary:hover {
  border-color: #45a049;
}
