.pf-v6-c-label {
  &.knowledge-contribution-label {
    --pf-v6-c-label--m-outline--BorderColor: var(--pf-t--global--color--status--custom--default);
  }
  &.skill-contribution-label {
    --pf-v6-c-label--m-outline--BorderColor: var(--pf-t--global--border--color--nonstatus--orange--default);
  }
  &.new-contribution-label {
    --pf-v6-c-label--Color: var(--pf-t--color--black);
    --pf-v6-c-label--BackgroundColor: var(--pf-t--global--color--nonstatus--blue--default);
    --pf-v6-c-label--m-outline--Color: var(--pf-t--color--black);
    --pf-v6-c-label--m-outline--BackgroundColor: var(--pf-t--global--color--nonstatus--blue--default);
  }
}
