node_modules
npm-debug.log
*.pem
!mock-cert.pem
.env
*.env
coverage
lib
taxonomy
config.yaml
generated
.DS_Store
**/node_modules
dist
yarn-error.log
yarn.lock
stats.json
.next/
auth.log
tsconfig.tsbuildinfo
.idea
.vscode
ui.pid
pathservice.pid
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
playwright/.auth
.instructlab-ui
# dont track secrets in git
deploy/k8s/overlays/kind/umami/umami-secret.yaml
deploy/k8s/overlays/openshift/umami/qa/umami-secret.yaml
deploy/k8s/overlays/openshift/umami/prod/umami-secret.yaml

