node_modules
npm-debug.log
*.pem
!mock-cert.pem
.env
*.env
coverage
lib
taxonomy
config.yaml
generated
.DS_Store
**/node_modules
dist
yarn-error.log
yarn.lock
stats.json
.next/
auth.log
tsconfig.tsbuildinfo
.idea
.vscode
