.chat-loading-container {
  display: flex;
  gap: 0.5rem;
  font-size: medium !important;
  justify-content: center;
  width: 50%;
}

.pf-chatbot__compare-toggle .pf-v6-c-toggle-group__button {
  height: 100%;
}
