apiVersion: v1
data:
  IL_UI_ADMIN_PASSWORD: ""
  IL_UI_ADMIN_USERNAME: ""
  IL_UI_DEPLOYMENT: ""
  IL_ENABLE_DEV_MODE: ""
  IL_ENABLE_DOC_CONVERSION: ""
  NEXT_PUBLIC_EXPERIMENTAL_FEATURES: ""
  NEXT_PUBLIC_TAXONOMY_ROOT_DIR: ""
  NEXTAUTH_URL: ""
  NEXTAUTH_SECRET: ""
  NEXT_PUBLIC_API_SERVER: ""

kind: Secret
metadata:
  creationTimestamp: null
  name: ui-env
