apiVersion: v1
data:
  IL_UI_ADMIN_PASSWORD: <PASSWORD>
  IL_UI_ADMIN_USERNAME: <USERNAME>
  IL_UI_DEPLOYMENT: <UI_DEPLOYMENT>
  IL_ENABLE_DEV_MODE: <DEV_MODE>
  NEXT_PUBLIC_EXPERIMENTAL_FEATURES: <EXPERIMENTAL_FEATURES>
  NEXT_PUBLIC_TAXONOMY_ROOT_DIR: <TAXONOMY_ROOT_DIR>
  NEXTAUTH_URL: <AUTH_URL>
  NEXTAUTH_SECRET: <AUTH_SECRET>
  NEXT_PUBLIC_API_SERVER: <API_SERVER_URL>

kind: Secret
metadata:
  creationTimestamp: null
  name: ui-env
