/*!* Skill CSS *!*/

.form-s {
  width: 80%;
  margin-bottom: 50px;
}

/*.submit:hover,*/
/*.download-yaml:hover,*/
/*.download-attribution:hover {*/
/*}*/

.heading {
  text-align: left;
  font-size: medium;
}
