a {
  color: white; 
  text-decoration: underline;
}

.login-page-background {
  background-image: url('../../../public/InstructLab-Background-Image.png');
  background-size: 100% 100%;
  background-position: center;
  background-repeat: no-repeat;

  min-width: 100vh;
  min-height: 100vh;

  display: flex;
  align-items: center;
  justify-content: center;

  overflow-y: auto;
  overflow-x: auto;
}

.login-container {
  text-align: center;
  width: 100%;
  max-width: 1200px;
  padding: 20px;
}

.sign-in-text {
  margin-top: 1rem;
  color: white;
  padding: 20px;
  font-size: xx-large;
}

.description-text {
  margin-top: 1rem;
  color: white;
  padding-bottom: 50px;
  font-size: x-large;
  font-style: italic;
}

.urls-text {
  margin-top: 1rem;
  color: white;
  padding: 20px;
  font-size: large;
}

.urls-text-medium {
  margin-top: 1rem;
  color: white;
  padding: 20px;
  text-align: center;
  font-size: medium;
}

.policy-text {
  margin-top: 1rem;
  color: white;
  padding-top: 20px;
  font-size: large;
}
