.chatBotPage {
  .pf-chatbot__header {
    border-top: 1px solid var(--pf-t--global--border--color--100);
    border-bottom: 1px solid var(--pf-t--global--border--color--100);
  }

  .pf-v6-c-page__main-container {
    height: 100%;
  }

  .pf-chatbot__compare {
    overflow-y: hidden;
  }

  .pf-chatbot__compare-container {
    overflow-y: hidden;
    min-height: 600px;

    &.m-is-unified {
      min-height: 467px;
    }
  }

  .pf-chatbot--embedded {
    overflow-y: hidden;
    flex: 1;
    height: 100%;
  }

  .pf-chatbot__content {
    overflow-y: auto;
  }

  .pf-chatbot__message.pf-chatbot__message--bot {
    padding-bottom: 0;
  }
  .pf-chatbot__header,
  .pf-chatbot__footer,
  .pf-chatbot__content,
  .pf-chatbot--embedded {
    background-color: transparent;
  }
  .pf-chatbot__message-bar {
    border: 1px solid var(--pf-t--global--border--color--100);
  }

  .pf-chatbot__footer-container {
    padding-bottom: var(--pf-t--global--spacer--sm);
  }
  .pf-chatbot--embedded .pf-chatbot__footer .pf-v6-c-divider {
    display: flex;
  }
}
