.modal {
  background-size: cover !important;
  background-position: left !important;
}

.modal > div:last-child > div {
  display: flex;
  flex-direction: column-reverse;
  height: 100%;
}

.modalContent {
  text-align: center;
  height: 100% !important;
}

/* hide brand img */
.modal img {
  visibility: hidden;
}

.modal button {
  background: #030303 !important;
  border-radius: 80px !important;
}

.aboutInstructlab {
  margin-top: 1rem;
  color: white;
  padding: 20px;
  text-align: center;
  font-size: xx-large;
}

.description {
  margin-top: 1rem;
  color: white;
  padding-bottom: 50px;
  font-size: x-large;
  font-style: italic;
  text-align: center;
}

.joinCommunityButtonWrapper {
  display: flex;
  justify-content: center;
  margin: 3rem 0;
  color: #ffffff;
}

.joinCommunityButton {
  background: #030303 !important;
  border-radius: 80px !important;
}

.joinCommunityButton svg {
  height: 1rem;
  width: 1.5rem;
}

.links {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 0.5ch;
  margin-bottom: 1rem;
}

.link {
  color: white !important;
  font-size: 12pt;
  font-weight: 300 !important;
  text-decoration: underline !important;
  border: none !important;
}

.link:not(:last-of-type)::after {
  content: '|';
  padding-left: 0.5ch;
  position: static !important;
  text-decoration: none !important;
}

.version {
  font-weight: 300 !important;
  font-size: 14pt;
}
