apiVersion: v1
data:
  IL_UI_DEPLOYMENT: ""
  GITHUB_TOKEN: ""
  OAUTH_GITHUB_ID: ""
  OAUTH_GITHUB_SECRET: ""
  NEXTAUTH_SECRET: ""
  NEXTAUTH_URL: ""
  NEXT_PUBLIC_AUTHENTICATION_ORG: ""
  NEXT_PUBLIC_TAXONOMY_REPO: ""
  NEXT_PUBLIC_TAXONOMY_REPO_OWNER: ""
  NEXT_PUBLIC_TAXONOMY_DOCUMENTS_REPO: ""
  NEXT_PUBLIC_EXPERIMENTAL_FEATURES: ""
  IL_GRANITE_API: ""
  IL_GRANITE_MODEL_NAME: ""
  IL_MERLINITE_API: ""
  IL_MERLINITE_MODEL_NAME: ""
  IL_ENABLE_DEV_MODE: ""
  IL_ENABLE_DOC_CONVERSION: ""
kind: Secret
metadata:
  creationTimestamp: null
  name: ui-env
